<div class="navbar" id="navbar" style="max-width: 960px;">
    <a id="homeLink" class="internal-link" href="{{ site.baseurl }}/">
        <b>jayas.me</b>
    </a>
</div>

<script>
    // console.log(document.location);
    // console.log(document.referrer);
    baselink = "<a id=\"homeLink\" class=\"internal-link\" href=\"{{ site.baseurl }}/\"><b>jayas.me</b></a>"
    if (document.location.pathname.includes("/dgarden") ) document.getElementById('navbar').innerHTML = "<a id=\"homeLink\" class=\"internal-link\" style=\"opacity: 1\" href=\"{{ site.baseurl }}/\"><b>jayas.me</b></a><span style=\"margin: 0 0.5rem;\">/</span><a id=\"\" class=\"internal-link\" href=\"/dgarden\"><b>dgarden</b></a>"
    if (document.location.pathname.includes("/portfolio")) document.getElementById('navbar').innerHTML = "<a id=\"homeLink\" class=\"internal-link\" style=\"opacity: 1\" href=\"{{ site.baseurl }}/\"><b>jayas.me</b></a><span style=\"margin: 0 0.5rem;\">/</span><a id=\"\" class=\"internal-link\" href=\"/portfolio\"><b>portfolio</b></a>"
    if (document.location.pathname.includes("/about")) document.getElementById('navbar').innerHTML = "<a id=\"homeLink\" class=\"internal-link\" style=\"opacity: 1\" href=\"{{ site.baseurl }}/\"><b>jayas.me</b></a><span style=\"margin: 0 0.5rem;\">/</span><a id=\"\" class=\"internal-link\" href=\"/about\"><b>about</b></a>"
    if (document.location.pathname == "/") document.getElementById('navbar').innerHTML = baselink
</script>
